header {
    width: 100%;
    background-color: #1e293b;
    padding: 40px;
}

.nav_mobile{
    display: none;
}

header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

header ul,
ul a {
    background-color: transparent;
}

.logo{
    font-size: 30px;
}

ul a {
    color: #fff;
    font-size: 20px;
}

.colecao{
    background-color: #ed1313;
    padding: 5px 25px;
    border: solid 1px ;
    border-radius: 5px;
}

.colecao:hover{
    background-color:  #bc0101;
}



@media(max-width: 576px) {
   .nav_header{
    display: none;
   }

   .nav_mobile{
    display: flex;
    flex-direction: column;
    gap: 10px;
   }
 
   .link{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: transparent;
    text-align: center;
   }
   .batalha{
    padding: 5px;
    border-bottom: solid 1px #fff ;
   }

}