.footer {
    width: 100%;
    background-color: #1e293b;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-logo,
.direitos{
    background-color: transparent;
}

.footer-logo {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
}

.direitos {
    color: #fff;
    font-size: 16px;
}

